<br />

  <form class="form-horizontal" action='/create' method='post'>
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input type="text" name="title" id="title" placeholder="Title">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="maker">Maker</label>
      <div class="controls">
        <input type="text" name="maker" id="maker" placeholder="Maker">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="date">Date</label>
      <div class="controls">
        <input type="text" name="date" id="date" placeholder="Date">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="source">Source</label>
      <div class="controls">
        <input type="text" name="source" id="source" placeholder="Source">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="size">Size</label>
      <div class="controls">
        <input type="text" name="size" id="size" placeholder="Size">
      </div>
    </div>
       <div class="control-group">
      <label class="control-label" for="notes">Notes</label>
      <div class="controls">
        <input type="text" name="notes" size="80" id="notes" placeholder="Notes">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="price">Price</label>
      <div class="controls">
        <input type="text" name="price" id="price" placeholder="Price">
      </div>
    </div>
    <div class="control-group">
    <div class="controls">
      <button type="submit" name="submit" class="btn">Add New Map</button>
      <input type='hidden' name='referer' value='<%= request.env["HTTP_REFERER"] %>'>
    </div>
  </div>
</form>

