<br />

<h1><%= @app_name %></h1>

<br />
<br />
<br />

<div id="box">

  <p style="padding-left: 40px"><%= pluralize(@map_count, "map", "maps") %>.</p>
  <p style="padding-left: 40px"><a href="/download/csv">Download maps into a CSV file</a></p>

</div>
